version: 2.1
jobs:
  build:
    working_directory: ~/repo
    docker:
      - image: circleci/node:14
    resource_class: xlarge
    steps:
      - checkout 
      - run:
          name: 'Update NPM'
          command: sudo npm install -g npm@6.13.4
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Compile contracts
          command: npm run compile:hardhat
      - save_cache:
          key: repo-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/repo

  lint:
    working_directory: ~/repo
    docker:
      - image: circleci/node:14
    steps:
      - restore_cache:
          keys:
            - repo-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          name: Run linter
          command: npm run lint

  test:
    working_directory: ~/repo
    docker:
      - image: circleci/node:14
    parallelism: 16
    resource_class: large
    steps:
      - restore_cache:
          keys:
            - repo-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          name: Run tests
          command: |
            circleci tests glob "test/unit/**/*.ts" | circleci tests split --split-by=filesize > /tmp/tests-to-run
            npm run test:hardhat $(cat /tmp/tests-to-run)
      - store_test_results:
            path: test-results
      - store_artifacts:
            path: test-results

  test-forge:
    working_directory: ~/repo
    machine:
      - image: cimg/base:2022.02
    resource_class: xlarge
    steps:
      - checkout
      - restore_cache:
          keys:
            - repo-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          name: Setup env
          command: echo "export PATH=$PATH:$(pwd)/.circleci" >> /home/circleci/.bashrc
      - run:
          name: Finish setting up env
          command: echo "export PATH=$PATH:$(pwd)/.foundry/bin" >> /home/circleci/.bashrc
      - run:
          name: Install Foundry
          command: curl -L https://foundry.paradigm.xyz | bash; source /home/circleci/.bashrc; export PATH=$PATH:/home/circleci/.foundry/bin;
      - run:
          name: Setup path
          command: PATH=$PATH:/home/circleci/.foundry/bin $HOME/.foundry/bin/foundryup
      - run:
          name: Run tests
          command: |
            source /home/circleci/.bashrc
            export PATH=$PATH:/home/circleci/.foundry/bin; npm run clean && npm run compile && npm run test && npm run test:integration:latest

workflows:
  main:
    jobs:
      - build
      - lint: 
          requires:
            - build
      - test:
          requires:
            - build
      - test-forge:
          requires:
            - build
